
input{
    color: rgb(255, 0, 191);
    background-color: rgb(176, 135, 222);
}
  label
  {
      color: blue;
  }  
  select{
      color: chocolate;
      background-color: rgb(80, 255, 168);
  
      }   
   div
   {
       color: blue;
       background-color:yellow;
       border-style: dotted;
       border-width: 10px;
       border-color: orangered;
   }   
   span{
       color: brown;
       background-color: bisque;
   }